<html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido principal</title>
    <link rel="stylesheet" href="../css/redcash.css">
    <link rel="stylesheet" href="../css/create-factura.css">
    <link rel="stylesheet" href="../css/bloqueo.css">
</head>     
<body>
    <div id="overlay"></div>
    <div class="menu">
        <ul>
            <li><p>Inicio</p></li>
            <li><p onmouseover="cambiarMouse(event)" onmouseout="cambiarMouse(event)" onclick="cargarContenido(0)">Agregar Factura</p></li>
            <li><p onclick="cargarContenido(1)">Observar Facturas</p></li>
            <li><p>Opciones múltiples</p>
                <ul>
                    <li><p>Edición de Facturas</p></li>
                    <li><p>Pago de Facturas</p></li>
                    <li><p>Anulación de pago</p></li>
                </ul>
            </li>
            <li><p>Impuestos a pagar</p></li>
        </ul>
    </div>
    
    <div id="contenido-Externo">
        <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <div class="advertencia-pantalla">
        Pantalla demasiado pequeña para mostrar el menú adecuadamente.
    </div>
    

    <script src="/eel.js"></script>
    <script src="../js/controladores.js"></script>
    <script src="../js/create-factura.js"></script>

</body>

</html>
