body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    width: 400%; /* 4 secciones, cada una ocupa el 100% del ancho de la ventana */
    height: 100vh;
    transition: transform 0.5s ease-in-out;
}

.section {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.section:nth-child(1) { background-color: #3498db; }
.section:nth-child(2) { background-color: #2ecc71; }
.section:nth-child(3) { background-color: #e74c3c; }
.section:nth-child(4) { background-color: #9b59b6; }

.scrollable {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 5vh;
}
  
.scrollable > div {
    flex-shrink: 0;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

/* Cuadro pequeño que aparece al pasar el cursor */
.scrollable > div::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s;
}
  
/* Efecto al pasar el cursor */
.scrollable > div:hover::after {
    width: 100%;
}